body {
    font-family: JetBrains Mono, monospace;
}

#root {
    display: flex;
    justify-content: center;
}

#head {
    text-align: center;
    margin-top: 15px;
}

.rate-card {
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.rate-card span {
    font-size: 45px;
    padding-left: 5px;
    padding-right: 5px;
}

.rate-value {
    margin: 0;
}

.up {
    color: #2b9348;
}

.down {
    color: #9e2a2b;
}

.column {
    width: 40px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: end;
}

.main {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.row-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.selector {
    border-bottom: 1px solid black;
    width: 150px;
}

.selector div {
    margin-bottom: 10px;
}

.selector input {
    padding: 0 10px 0 10px;
    border: none;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    font-size: large;
    outline: none;
}

.selector input:focus {
    background-color: #d8f3dc;
}

#currencies {
    height: 50px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
    outline: none;
}

.select-panel {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

#title {
    margin-right: 5px;
    margin-left: 5px;
}

.board {
    width: 1200px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    align-items: end;
}

#date-chooser {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#prev, #next {
    width: 50px;
    height: 50px;
    font-size: 20px;
}

#dates {
    height: 46px;
    width: 200px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    outline: none;
}

#mapper {
    width: 600px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    font-size: 25px;
    font-weight: bold;
}

#from, #to {
    height: 30px;
    width: 150px;
}

#footer {
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}